<div class="row">

        <div class="col s8">
            <div class="card" style = "padding:0px 5px;">
                <div class="row">
                    <div class="col 4 offset-s2">
                            <h5>"What is the center of the earth"</h5>
                            <ol type = "A" class="collection">
                                <li class="collection-item">Core</li>
                                <li class="collection-item">Cores</li>
                                <li class="collection-item">Corez</li>
                                <li class="collection-item">Coreb</li>
                            </ol>
                    </div>
                </div>
               
            </div>
        </div>

        <div class="col s4">
                <div class="card" style = "padding:8px 5px;">
                        <table class="striped">
                            <tr>
                                <td>Turn Status:</td>
                                <td>No submissions yet.</td>
                            </tr>
                        </table>
                </div>
                <div class="card" style = "padding:8px 5px;">
                        <table class="striped">
                            <tr>
                                    <td>Your score:</td>
                                    <td>No submissions yet.</td>
                                </tr>
                                <tr>
                                        <td>Enemy Score:</td>
                                        <td>No submissions yet.</td>
                                    </tr>
                        </table>
                </div>
        </div>

        <div class="col s6">
            <div class="card" style = "padding:10px 5px;">
                    <div class="row" style = "margin:0">
                      
                            <div class="input-field col s12">
                                    <h6>Question: 3</h6>
                                    <select class="bet_options">
                                      <option value="50">A. Core</option>
                                      <option value="100">B. Egypt</option>
                                      <option value="150">C. Areanan</option>
                                      <option value="150">D. asdaw</option>
                                    </select>
                                    <label>Choose answer</label>
                                  </div>
                                  <div class="input-field col s8">
                                        <button type ="button" class="btn waves-effect waves-orange green btn-small">Submit Answer</button>
                                    </div>
                    </div>
            </div>
        </div>

        <div class="col s6">
           <div class="card" style = "padding:10px 10px;">
                <div class="row center-align">
                    <div class="col s6">Your Answer</div>
                    <div class="col s6">Opponent Answer</div>
                    <div class="col s6 grey white-text" style="padding:10px 0px;">Waiting...</div>
                    <div class="col s6 red  white-text" style="padding:10px 0px;">Core</div>
                </div>
                <div class="row">
                    <div class="input-field col s12 center-align">
                        <button type ="button" class="btn waves-effect waves-orange info btn-medium">Continue Battle</button>
                    </div>
                </div>
           </div>
        </div>

    </div>

    <style>
        #flying-pot{
            position: absolute;
            top:100;
            left:0;
        }
    </style>
    <div id = "flying-pot">
        <div class="card">
            <h6 class="purple white-text" style="padding:5px 10px 5px 50px;"><strong>Total Bet</strong></h6>
            <p style="padding:5px 10px 0px 50px;"><strong>50 Finney</strong></p>
            <p style="padding:0px 10px 20px 50px;"><strong>(0.05 ETH)</strong></p>
        </div>
    </div>